{% extends 'base.html.twig' %}
{% block body %}
	<h1>Here are the trips availables</h1>
	{% for destination in destinations %}
		{{ dump(destination) }}
	{% endfor %}
	{# Javascript #}

	<!-- Compiled and minified JQuery -->
	<script
			src="http://code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous"></script>
	
	<!-- Compiled and minified Materialize JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
{% endblock %}