{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Combien de chambres voulez vous réserver ?</h1>

        <form action="{{ path('travel_resultat') }}" method="POST">
            <input type="text" class="form-control" name="nbchambre" placeholder="Nombre de chambres souhaité">

            <input type="text" class="form-control" name="nbPers" placeholder="Nombre de personnes">

            <input class="btn btn-success" type="submit" value="Valider">

    </div>
{% endblock %}