{# src/TravelBundle/Resources/views/index.html.twig #}


{% extends "TravelBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - plateforme {% endblock %}


{% block body %}{{ parent() }}

    <div class="container">


        <form class="well" method="post">
            <div class="form-group">
                <legend class="Jumbotron">Réservation de chambre</legend>
                Nombre de chambres à louer : <input type="number" autofocus="autofocus" required="true">

                <ul class="list-unstyled">
                    <li><a class="btn btn-primary" href="{{ path('hotel_index') }}" >Envoyer</a></li>
                </ul>

            </div>

        </form>
    </div>


{% endblock %}