{% extends "base.html.twig" %}

{% block body %}
    <h1 class="blue-text center">Bienvenue sur Travel !</h1>
        <p class="center">Sélectionnez le nombre de chambres que vous souhaitez réserver, nous vous indiquons dans quel hôtel elles sont disponibles.</p>

    <div class="row">
        <form class="col s8 offset-s3" action="{{ path('travel_dispo') }}" method="POST">
            <div class="input-field col s4">
                <input name="nbChambre" placeholder="Chambres" id="nbChambre" type="number" class="validate">
            </div>
            <div class="input-field col s4">
                <input placeholder="Personnes" id="nbPers" type="number" class="validate" name="nbPers" >
            </div>

            <button class="btn waves-effect waves-light" type="submit">ok
                <i class="material-icons right">send</i>
            </button>

        </form>
    </div>
{% endblock %}